<% if @upload.exception %>
  <div class="row analysis-exception">
    <p><%= t('.result_exception') %></p>
  </div>

  <div class="row">
    <h2><%= t('.details') %></h2>
  </div>

  <div class="row">
    <pre><%= @upload.exception.class %> <%= @upload.exception.message %></pre>
  </div>
<% elsif @upload.errors? %>
  <div class="row analysis-invalid">
    <p><%= t('.result_invalid') %></p>
  </div>

  <% if @upload.schema_errors? %>
    <div class="row">
      <h2><%= t('.schema_errors' ) %></h2>
    </div>

    <div class="row">
      <%= render partial: 'errors', locals: { errors: @upload.schema_errors } %>
    </div>
  <% end %>

  <% if @upload.object_errors? %>
    <div class="row">
      <h2><%= t('.object_errors' ) %></h2>
    </div>

    <div class="row">
      <%= render partial: 'errors', locals: { errors: @upload.object_errors } %>
    </div>
  <% end %>
<% else %>
  <div class="row analysis-valid">
    <p><%= t('.result_valid') %></p>
  </div>
<% end %>
