<% case errors %>
<% when Hash %>
  <dl>
    <% errors.each do |key, value| %>
      <dt><%= render partial: 'errors', locals: { errors: key } %></dt>
      <dd><%= render partial: 'errors', locals: { errors: value } %></dd>
    <% end %>
  </dl>
<% when Fixnum %>
  <%= ordinalize(errors + 1) %> item
<% when Array %>
  <ul>
    <% errors.each do |value| %>
      <li><%= render partial: 'errors', locals: { errors: value } %></li>
    <% end %>
  </ul>
<% when String, Symbol %>
  <%= errors %>
<% else %>
  <pre><%= errors.pretty_inspect %></pre>
<% end %>
