<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= t('.title') %></title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'common/top_bar' %>

<%= yield %>

<div class="row">
  <p>
   <%= t('.supported_version_html',
         version: Rails.configuration.supported_version) %>
  </p>
</div>

</body>
</html>
