<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Digital Case File Validator</title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'common/top_bar' %>

<%= yield %>

<div class="row">
  <p>
    Supported Digital Case File version:
    <strong><%= Rails.configuration.supported_version %></strong>
  </p>
</div>

</body>
</html>
